{% extends 'layouts/base.html' %}

{% block content %}
<br>
<h1 style="color: #808080; font-weight: bold; text-align: center;">{{ title }}</h1>
<br><br>
<p style="color: #808080; font-style: italic;">CoderBeer fue fundada en 2023 como proyecto Django en Coderhouse. Su propósito es brindar a los usuarios cerveceros, insumos y equipamiento de calidad para fabricar cerveza artesanal.</p>
<br>
<p style="color: #808080;">A continuacion, las instrucciones para navegar la pagina:</p>
<p></p>
<p style="color: #808080;"> <u>BUSQUEDA</u> : Permite buscar los insumos en la base de datos.</p>
<p></p>
<p style="color: #808080;"><u>INGREDIENTES</u>: Permite agregar a la base de datos un ingrediente.</p>
<p></p>
<p style="color: #808080;"><u>EQUIPAMIENTO</u>: Permite agregar a la base de datos un equipamiento.</p>
<p></p>
<p style="color: #808080;"><u>COMENTARIOS</u>: Permite al usuario dejar un comentario al administrador del sitio web.</p>

{% endblock %}
